@import '../variables';
@import '../mixins';
@import './seekbar';

.#{$prefix}-ui-volumeslider {
  @extend %ui-seekbar;

  .#{$prefix}-seekbar {
    .#{$prefix}-seekbar-playbackposition-marker {
      background-image: svg('assets/skin-custom/images/dot-volume.svg');
      background-size: .75em;
    }

    .#{$prefix}-seekbar-bufferlevel {
      display: none;
    }
  }
}
